:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg-body: hsl(223, 19%, 93%);
}

body {
  background-color: var(--bg-body);
}
